@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: local("OpenSans"), url(../../public/assets/fonts/OpenSans/OpenSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 400;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 500;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 600;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 800;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 300;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 400;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 500;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 600;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 700;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 800;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-ExtraBold.ttf) format("truetype");
}
#heroBanner {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 769px) {
  #heroBanner {
    margin-top: 10rem;
    margin-bottom: 6rem;
  }
}
#heroBanner .col-md {
  margin-bottom: 1.5rem;
}
@media (min-width: 769px) {
  #heroBanner .col-md {
    margin-bottom: 3rem;
  }
}
#heroBanner .col-md:nth-child(2) aside {
  margin-bottom: 1.5rem;
}
@media (min-width: 769px) {
  #heroBanner .col-md:nth-child(2) aside {
    margin-bottom: calc(1rem + 2px);
  }
}
#heroBanner .col-md:nth-child(2) .row > .row {
  margin: 0;
}
#heroBanner article {
  margin-bottom: 1.5rem;
}
#heroBanner article:first-child {
  margin-bottom: 3rem;
}
#heroBanner article:first-child h3.title {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  margin-bottom: calc(3rem - 1rem);
}
#heroBanner article:first-child h3.title:before {
  content: "";
  left: 0;
  bottom: -15px;
  display: block;
  position: absolute;
  width: 100%;
  background-color: #fff;
  height: 1px;
}
#heroBanner article:first-child p.description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
}
#heroBanner article:last-child h3.title {
  color: #cf1430;
  font-size: 13px;
  margin-bottom: 1rem;
}
#heroBanner article:last-child p.description {
  font-weight: 500;
  line-height: 1.8;
  font-size: 15px;
}
#heroBanner img {
  cursor: pointer;
}/*# sourceMappingURL=HeroBanner.css.map */