@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: local("OpenSans"), url(../../public/assets/fonts/OpenSans/OpenSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: local("Open Sans"), url(../../public/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 400;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 500;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 600;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 800;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 300;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 400;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 500;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 600;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 700;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 800;
  src: local("Open Sans Condensed"), url(../../public/assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-ExtraBold.ttf) format("truetype");
}
#latestItemsContainer {
  margin-top: 5rem;
}
#latestItemsContainer h2.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18;
  margin-bottom: 3rem;
}
#latestItemsContainer .col-md {
  margin-bottom: 3rem;
}
#latestItemsContainer img {
  border-bottom: 3px solid #cf1430;
  margin-bottom: 1.5em;
}
#latestItemsContainer h3.title {
  font-weight: 500;
  font-size: 14px;
}
#latestItemsContainer p.description {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #b7b8b8;
  line-height: 1.8;
}
#latestItemsContainer a.link {
  position: relative;
  font-size: 14px;
}
#latestItemsContainer a.link:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -5px;
  background-color: #cf1430;
  transition: all 0.2s ease-in-out;
}
#latestItemsContainer a.link:hover:before {
  width: 0;
}/*# sourceMappingURL=LatestItems.css.map */