@import "../Styles/variables.scss";

html {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $color-bg-main;
  font-family: $font-OpenSans;
  color: $colorWhite;
}

a {
  color: $colorWhite;
  text-decoration: none;
}

main {
  max-width: 1120px;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-up-animation {
  animation: slideUp 0.5s ease-in-out;
}

.loading-animation {
  animation: fadeIn 0.5s ease-in-out;
}
